# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

build/
jp2a-1.0.6/Makefile
jp2a-1.0.6/config.h
jp2a-1.0.6/config.log
jp2a-1.0.6/config.status
jp2a-1.0.6/src/.deps/
jp2a-1.0.6/src/Makefile
jp2a-1.0.6/stamp-h1
